

@{
    ViewData["Title"] = "Inicio";
    //Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    
    
    <div class="card shadow p-3 mb-5 bg-white" style="width:70rem; height: 30rem; border-radius:2rem">
        <div class="card-body">
            <h5 class="card-title"><strong>INICIO</strong></h5>
            <hr />
                <h6 class="card-subtitle mb-2 text-muted"><strong>Crear documento Electrónico:</strong></h6>
                    <form>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="checkbox-new-doc" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                                Nuevo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                                Borrador
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                                Documento anterior
                            </label>
                        </div>
                    </form>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipo de documento electrónico</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <form id="formElement">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" value="01" id="checkOperacionInterna">@*asp-controller="Home" asp-action="ViewOpInterna"*@                       
                            <label class="form-check-label" for="flexRadioDefault1">
                                Factura de Operación interna
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" value="02" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Factura de Importación
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" value="03" id="flexRadioDefault2" >
                            <label class="form-check-label" for="flexRadioDefault2">
                                Factura de Exportación
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" value="04" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Nota de Crédito referencia a una o varias FE
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" value="05" id="flexRadioDefault2" >
                            <label class="form-check-label" for="flexRadioDefault2">
                                Nota de Débito referencia a una o varias FE
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" value="06" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Nota de Crédito Génerica
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" value="07" id="flexRadioDefault2" >
                            <label class="form-check-label" for="flexRadioDefault2">
                                Nota de Débito Génerica
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" value="08" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Factura de Zona Franca
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" value="09" id="flexRadioDefault2" >
                            <label class="form-check-label" for="flexRadioDefault2">
                                Reembolzo
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-danger text-light btn-close" data-dismiss="myModal"><i class="fa-solid fa-ban"></i> Cancelar</button>
                    <button type="button" class="btn bg-success text-light btn-save" id="selectTypeDoc"><i class="fa-solid fa-check"></i> Seleccionar</button>
                </div>
            </div>
        </div>
    </div>

        <script type="text/javascript">     
            $('#checkbox-new-doc').on('change', function () {
                if ($(this).is(':checked')) { 
                    $("#myModal").modal("show");

                    setTimeout(() => {
                        $("#checkbox-new-doc").prop("checked", false);
                    }, 2000)
                }
            });
       
            $('#selectTypeDoc').on('click', function (e) {
                if ($("#checkOperacionInterna").is(':checked')) {
                    $(location).attr('href', "/Home/ViewOpInterna")             
                }
            });
            $('.btn-close').on('click', function () {
                $("#myModal").modal("hide");
            });
            $('.btn-save').on('click', function () {
                $("#myModal").modal("hide");
            });

                localStorage.setItem('progress-bar', '20%');

        </script>

    
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
</body>
</html>


