@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/Content/css/bootstrap/css/bootstrap.css" rel="stylesheet" />

<label>Dialogs (Popups with no owner)</label>
<br />
<!-- The content of popup dialog to create account. -->
<c1-popup class="modal-content col-md-6" id="popupCreate" hide-trigger="PopupTrigger.None" shown="autoFocus">
    <form>
        <h4 class="modal-header">
            Create Account
            <button type="button" tabindex="-1" class="close wj-hide">×</button>
        </h4>
        <div class="modal-body">
            <label>
                Name:
                <input class="form-control" required="" pattern=".{2,}" title="Please enter 2 characters or more.">
            </label>
            <br>
            <label>
                Email:
                <input class="form-control" required="" type="email">
            </label>
            <br>
            <label>
                Password:
                <input class="form-control" type="password" id="createPwd1" required="" pattern=".{4,}" title="Please enter 4 characters or more.">
            </label>
            <br>
            <label>
                Confirm Password:
                <input class="form-control " type="password" id="createPwd2" required="" pattern=".{4,}" title="Please enter 4 characters or more.">
            </label>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" onclick="checkCreate()">
                Create Account
            </button>
        </div>
    </form>
</c1-popup>