@{
    ViewData["Title"] = "Informacion del producto";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="card shadow p-1 mb-5 bg-white" style="width:100rem; height: auto; margin-left: -15rem;  border-radius:2rem">
        <div class="card-body">
            <h3 class="card-title- text-center"><strong>Información de los prodctos</strong></h3>
                <hr />
                <form>
                    <div class="card shadow p-3 mb-5 bg-white rounded" style="width:auto; height: auto;">
                        <table class="table table-bordered overflow-auto rounded">
                            <thead>
                                <tr>                       
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Precio final</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="card" style="width: 25rem;">
                                            <div class="card-body">
                                                <h5 class="card-title"><strong>Producto 1</strong></h5>
                                                <hr />
                                                <h6 class="card-subtitle mb-2 text-muted">Descripción del producto</h6>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>20.00</td>                       
                                </tr> 
                                <tr>
                                    <td class="text-right">Subtotal sin impuestos:</td>
                                    <td>20.00</td>
                                </tr>
                                <tr>
                                    <td class="text-right">ITBMS:</td>
                                    <td>3.50</td>
                                </tr>
                                <tr>
                                    <td class="text-right">ISC:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text-right bg-success"><strong>Total precio final</strong>:</td>
                                    <td class="bg-success text-center"> <strong>B/. 23.50</strong></td>
                                </tr>                           
                            </tbody>
                        </table>
                            <div>
                        <button id="" type="button" class="btn btn-outline-success rounded-pill btn-new-item"><i class="fa-solid fa-plus"></i> Agregar nuevo producto</button>
                            </div>
                    </div>
                        <div style="text-align: right;">
                            <button type="submit" asp-controller="Home" asp-action="" class="btn btn-dark">Siguiente</button>
                        </div>
                </form>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog"  role="document">
            <div class="modal-content" style="width:40rem">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo producsto</h5>
                </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="recipient-name" class="col-form-label">Codigo del Item:</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>                 
                                <div class="form-group col-md-6">
                                    <label for="message-text" class="col-form-label">Cantidad del producto o servicio:</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-5 mb-3">
                                    <label for="validationCustomUsername">Precio Unitario: </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend">$</span>
                                            </div>
                                                <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                                      </div>
                                </div>

                                <div class="col-md-5 mb-3">
                                    <label for="validationCustomUsername">Precio del acarreo del producto:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend">$</span>
                                            </div>
                                                <input type="text" class="form-control" id="aria-describedby="inputGroupPrepend" required>
                                        </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="message-text" class="col-form-label">Descripción:</label>
                                <textarea class="form-control" rows="5" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-danger text-light btn-close" data-dismiss="myModal"><i class="fa-solid fa-ban"></i> Cancelar</button>
                    <button type="button" class="btn bg-info text-light btn-save"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-new-item").on("click",function () {
                $('#myModal').modal('show');
            });
            $(".btn-close").on("click", function () {
                $('#myModal').modal('hide');
            });
            $(".btn-save").on("click", function () {

                //codigo

                $('#myModal').modal('hide');
            });
        });
        localStorage.setItem('progress-bar', '100%');    
    </script>